@import url("https://unicons.iconscout.com/release/v4.0.0/css/line.css");
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Smooch+Sans:wght@400;600;700&display=swap');

$dark: #252525;
$dark_2: #171717;
$dark_3: #0c0c0c;
$light: #fff;
$light_2: #dedede;

#svg-bg {
  --pattern-bg:#252525;
  --pattern-fg:#000;
  height: 100vh;
  position: absolute;
}

body{
  @media (max-width: 500px) {
    font-size:14px;
  }
  margin: 0;
  color:$light;
  font-size: 20px;
  font-family: "Smooch Sans", sans-serif;
}



$row:0;
@while $row < 8{
  $col:0;
  @while $col <8{

    .square-#{$row+1}#{$col+1}{
      transform: translate(#{$row*100%},#{(7-$col)*100%})
    }
    .flipped .square-#{$row+1}#{$col+1}{
      transform: translate(#{(7-$row)*100%},#{($col)*100%})
    }
    $col:$col+1;
  }
  $row: $row+1;
}



@each $piece in 'wp','wn','wb','wr','wq','wk','bp','bn','bb','br','bq','bk'{
  .#{$piece}{
    background-image: url("img/#{$piece}.png");
  }
}
.dragging{
  z-index: 2;
  cursor: grabbing !important;

}

.piece{
  width: 12.5%;
  height: 12.5%;
  background-size: 100%;
  user-select: none;

  position: absolute;
  left:0;
  top: 0;
  overflow: hidden;

  cursor: grab;
  will-change: transform;
  touch-action: none;
}

.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;

  background-color: $dark;
  background-size: 100vh;
  background-image: url("img/background.svg");
}



.chessboard{
  width: 100%;
  height: 0;
  padding-bottom:100%;
  position: relative;
  user-select: none;



  background-repeat: no-repeat;
  background-image: url('img/chessboard.png');
  background-size: 100%;
}

.coordinates{
  pointer-events: none;
  left: 0;
  position: absolute;
  top: 0;
}

.coordinate-light{
  pointer-events: none;
  fill: #779952;
}
.coordinate-dark{
  pointer-events: none;
  fill: #edeed1;
}



//promotion




.promotion-window{
  background-color: $light;
  border-radius: 3px;
  bottom: 0;
  box-shadow: 3px 3px 10px rgba(0,0,0,.45);
  display: flex;
  flex-direction: column;
  height: 12.5*4%;
  left: 0;
  position: absolute;
  top: auto;
  width: 12.5%;
  z-index: 2;
  .promotion-piece{
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
    padding-top: 100%;
    position: relative;
  }
  &--top{
    flex-direction: column-reverse;
  }

}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.black_box{
  @media(max-width: 745px){
    width: 100%;
    border-radius: 0;
  }
  padding: 15px;
  border-radius: 15px;
  background-color: rgba(0,0,0,0.5);
}
.link_box{
  @media(max-width: 322px){
    flex-direction: column;
  }
  width: 100%;
  display: flex;
  flex-direction: row;
  &__icon{
    display:block;
    padding: 1rem;
  }
  &__url{

    div{
      overflow: hidden;
      width: 100%;
    }

    width: 100%;
    box-sizing: border-box;

    @media(max-width: 322px){
      width: 100%;
      border-radius: 0.33rem 0.33rem 0 0;

    }
    cursor: text;
    color:$dark_3;
    background-color: $light;
    padding: 1rem;
    display: flex;
    align-items: center;
    border: 0.08rem $light solid;
    border-right: 0;
    border-radius: 0.33rem 0 0 0.33rem;
  }
  &__copy_button{
    cursor:pointer;
    @media (max-width: 322px) {
      width: 100%;
      border-radius: 0 0 0.33rem 0.33rem;
    }
    font-size: 100%;
    border:1px $light solid;
    border-radius: 0 0.33rem 0.33rem 0;
    background-color: $dark;
    color: $light;
    &:hover{
      background-color: $dark_2;
      color: $light_2;
      border-color: $light;
    }
    &:active {
      background-color: $dark_3;
    }
  }
}






/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}




